[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "==5.*"
flake8 = "*"
black = "*"
flake8-black = "*"

[packages]
appdirs = "==1.*"
numpy = "==1.*"
pandas = "==0.*"
pyparsing = "==2.*"
python-dateutil = "==2.*"
pytz = "*"
six = "==1.*"
jupyter = "*"
django = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
