[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"

[packages]
appdirs = "*"
numpy = "*"
pandas = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
six = "*"

[requires]
python_version = "3.7"
